#stuff1 {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: aquamarine;
    position: relative;
    animation: location 5s ease-in infinite;
}

@keyframes location {
    0% {
        left: 200px;
        top: 450px;
    }
    25% {
        left: 0px;
        top: 250px;
        background-color: cadetblue;
    }
    50% {
        left: 200px;
        top: 0px;
        background-color: teal;
    }
    75% {
        left: 380px;
        top: 250px;
        background-color: green;
    }
    100% {
        left: 200px;
        top: 480px;
    }
}