<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>   
    <link rel='stylesheet' href='/stylesheets/style.css'>    
</head>

<body>
    <header>
        <% include header.ejs %>
    </header>
    <main role="main">
        <div class="jumbotron">
        <p>user 变量：<%= JSON.stringify(user) %></p>
        <% if (!user) { %>             
            <div class="container">
                <h1>
                    <%= title %>
                </h1>
                <p>Welcome to
                    <%= title %> based on Node.js + Express + Bootstrap + MongoDB.
                </p>
                <p>
                    <a href="/login" class="btn btn-primary" role="button">Login</a>
                    <a href="/reg" class="btn btn-light" role="button">Register</a>                                                           
                </p>
            </div>
        <% } else { %>
            <% include say.ejs %>
        <% } %>
        </div>
        <div class="container">
            <% include posts.ejs %>
            <!-- <div class="row">
                <div class="col-md-4">
                    <h2>Node.js</h2>
                    <p>Provide HTTP server</p>
                </div>
                <div class="col-md-4">
                    <h2>Express</h2>
                    <p>Node.js Web Framework</p>
                </div>
                <div class="col-md-4">
                    <h2>Bootstrap</h2>
                    <p>UI Framework</p>
                </div>
            </div> -->
        </div>
    </main>
    <footer class="container">
        <% include footer.ejs %>
    </footer>

    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>

</body>

</html>