<!doctype html>
<html lang="en">

<head>
    <% include head.ejs %>
    <link href="/stylesheets/signin.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>

<body class="text-center">
    <header>
        <% include header.ejs %>
    </header>
    <form class="form-signin" method="post">
        <% if (success) { %>
            <div class="alert alert-success"><%= success %></div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        <label for="confirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="password-confirm" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">Powered by Caroline</p>
    </form>

    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
</body>

</html>