<!doctype html>
<html lang="en">

<head>
    <% include head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css'>    
</head>

<body>
    <header>
        <% include header.ejs %>
    </header>
    <main role="main">
        <div class="jumbotron">
            <% if (user) { %>
                <% include say.ejs %>
            <% } %>
            <% if (success) { %>
                <div class="alert alert-success"><%= success %></div>
            <% } %>
            <% if (error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
        </div>
        <div class="container">
            <% include posts.ejs %>
        </div>
    </div>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
</body>

</html>