<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Signin</title>
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <header>
        <% include header.ejs %>
    </header>

    <% if (user) { %>
        <% include say.ejs %>
    <% } %>

    <% include posts.ejs %>

    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
</body>

</html>