body {
    font-family: sans-serif;
    color: #454A5F;
    background-color: #E0DFDF;
    /*margin：top&bottom left&right*/
    margin: 1em 5%;
    text-align: center;
}

h1 {
    font-size: 45px;
}

ul {
    padding: 0;
    /*remove the dot in front of the items*/
    list-style: none;
}

#imagegallery li {
    /*put the items in one line*/
    /*display: inline; 可以实现item同行排列的效果，但是宽高由文本长度决定，无法设置*/
    /*float: left;*/
    display: inline-block;
    padding: 0 1em;
    margin-bottom: 1em;
    /*border: 1px solid #454A5F;*/
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #454A5F;
}

a:hover {
    color: #FFFFFF;
    background-color: #454A5F;
}

img {
    /*display: block; 此情况下无法实现居中*/
    display: inline-block;
    clear: both;
    border: 2px dotted #454A5F;
    margin-bottom: 1em;
}

#description {
    font-size: 20px;
    font-style: italic;
}