/* index */
body {
	padding: 50px 5%;
	/* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

/* reg */
.form-signin input[type="password"],
.form-signin input[type="text"]
 {
	border-radius: .25rem;
	margin-bottom: 10px
}